<template lang='pug'>
.page-wrapper(v-if='cache.graph')
  player-child(:child.sync='cache.graph' @onDragEnd='onDragEnd' :columns='columnWidth()')

  .players
    template(v-for='value in freePlayers')
      .player-wrapper
        .player(draggable @dragstart='dragStart(value)')
          p {{ value.name }}

</template>

<script>
import PlayerChild from '@/components/PlayerChild.vue';

export default {
  name: 'Home',
  components: {
    PlayerChild
  },
  mounted() {
    this.buildGraph();
    this.playerListFill();
  },
  computed: {
    freePlayers() {
      if (!this.cache.playerList) {
        return [];
      }

      return this.cache.playerList.filter(v => v.free);
    }
  },
  data: () => ({
    settings: {
      parcipiants: 16,
      teamSize: 2
    },
    cache: {
      graph: null,
      playerList: null,
      draggable: null
    }
  }),
  methods: {
    /**
     * Build graph object
     */
    buildGraph() {
      const { parcipiants, teamSize } = this.settings;
      if (!parcipiants || !teamSize) {
        return alert('Неверные входные аргументы');
      }

      if (parcipiants % teamSize != 0) {
        return alert('Количество команд и игроков не совпадает');
      }
      
      this.cache.graph = this.processChildrens({
        user: 'winner',
        children: []
      }, this.settings.parcipiants / this.settings.teamSize);
    },

    /**
     * Process filling childrens with data
     */
    processChildrens(obj, limit = 0, childAmount = 1) {
      if (childAmount > limit) {
        return {
          user: null,
          children: []
        };
      }

      for (let i = 0; i < this.settings.teamSize; i++) {
        obj.children.push(this.processChildrens({
          user: null,
          children: []
        }, limit, childAmount * this.settings.teamSize));
      }

      return obj;
    },

    /**
     * Fill players array
     */
    playerListFill() {
      this.cache.playerList = [];

      for (let i = 0; i < this.settings.parcipiants; i++) {
        this.cache.playerList.push({
          id: Math.random().toString(),
          name: `Player ${i}`,
          free: true
        });
      }
    },

    findById(id) {
      return this.cache.playerList.find(v => v.id == id);
    },

    /**
     * Fires on item grabbed
     */
    dragStart(value) {
      this.draggable = this.findById(value.id);
    },

    /**
     * Fires on item dropped
     */
    onDragEnd(child) {
      if (!this.draggable) {
        throw new Error('Missed draggable object!');
      }

      const { children } = child;
      if (children && children.length > 0) {
        return alert('Можно перетскивать только в начало!');
      }

      child.user = this.draggable; 
      this.draggable.free = false;
    },

    /**
     * Counts width of schema column
     */
    columnWidth() {
      let { parcipiants, teamSize } = this.settings;
      let count = 1;

      while(parcipiants % teamSize == 0) {
        count++;
        parcipiants /= 2;
      }

      return count;
    }
  }
}
</script>
<style lang="scss">
  .page-wrapper {    
    padding: 20px;
  }

  .players {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;

    .player-wrapper {
      padding: 4px;

      .player {
        width: 100px;
        background: #333;
        color: #fff;
        text-align: center;
        padding: 8px;
        cursor: grab;
      }
    }
  }
</style>