<template lang='pug'>
.player-child-wrapper()
  .player-child(@drop='dragEnd(child)' @dragenter.prevent @dragover.prevent @click='empty()' :style='`min-width: ${100 / columns}%;`' :class='[{ last: child.children.length == 0 }, { first: child.user == "winner" }]')
    .player {{ child.user ? child.user.name : '' }}

  .line(:style='`min-width: 100%;`')
    template(v-for='(value, index) in child.children')
      PlayerChild(:child.sync='value' @onDragEnd='dragEnd' :columns='columns')
</template>

<script>
export default {
  name: 'PlayerChild',
  props: [ 
    'child',
    'columns'
  ],
  methods: {
    /**
     * Finish drag on element
     */
    dragEnd(child) {  
      this.$emit('onDragEnd', child);
    },

    /**
     * Clear user from data-scheme
     */
    empty() {
      if (!this.child.user) {
        return;
      }

      this.child.user.free = true;
      this.child.user = null;
    }
  }
}
</script>

<style lang='scss'>
  $column-padding: 16px;

  .line {
    margin: 8px 0;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);

      height: 50%;
      width: 2px;
      background: crimson;
    }
  }


  .player-child-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;

    .player-child {
      padding: 4px $column-padding;
      position: relative;

      &.last::before {
        display: none;
      }

      &.first::after {
        display: none;
      }


      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);

        height: 2px;
        width: $column-padding;
        background: crimson;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);

        height: 2px;
        width: $column-padding;
        background: crimson;
      }

      .player {
        width: 100%;
        height: 40px;
        background: #333;
        color: #fff;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
</style>