<template lang='pug'>
  #app
    router-view
</template>

<style lang="scss">
@import '@/assets/reset.scss';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
